.resource-listing__header {
  background-color: #f0f0f0;
  padding: 28px 15px;
  display: flex;
  justify-content: space-between;

  .hide-filters {
    background: url('/img/icons/filter.svg') no-repeat;
    background-position: 12px center;
    border-radius: 4px;
    border: none;
    background: #595B5F;
    color: #fff;
    padding: 9px 12px 9px 12px;
  }

  .order-toggle {
    position: relative;

    button {
      border: none;
      background: transparent;
      color: #000;
      font-weight: 500;
      font-size: 16px;
      padding: 10px;

      img {
        transition: 200ms ease;
        margin-left: 10px;
      }
    }

    > div {
      position: absolute;
      top: 100%;
      right: 0;
      background: #595B5F;
      opacity: 0;
      pointer-events: none;
      transition: 200ms ease;      

      button {
        color: #fff;
        width: 100%;

        &:hover {
          background-color: #3a3b3e;
        }
      }

    }

    &.open {
      > button {
        img {
          transform: rotate(180deg);
        }
      }

      > div {
        opacity: 1;
        pointer-events: auto;
        z-index: 100;
      }
    }
  }
}
