{{ with .Site.GetPage "/settings/settings.md" }}

  <footer class="footer uk-section uk-background-secondary">
    <div class="uk-container">
      <div class="uk-child-width-expand@s uk-text-left uk-flex-middle" uk-grid uk-height-match>
        <div class="footer-left uk-light">
          <div class="uk-text-left" uk-grid>
            <div class="uk-width-1-1@s uk-width-3-4@m">
              {{range $key,$val := .Params.footer}}
                <p class="uk-text-lead">{{.footer_text}}</p>

                {{ range .footer_global_link }}
                  <p class="footer-left__global">{{.footer_global_link_country}} | <a href="{{.footer_global_link_url}}" target="_blank">{{.footer_global_link_url_text}}</a></p>
                {{ end }}

                {{ range .footer_social_link }}
                  <a href="{{.footer_social_link_url}}" class="uk-icon-button">
                    <span uk-icon="{{.footer_social_link_platform}}"></span>
                  </a>
                {{ end }}
              {{end}}
            </div>
          </div>
          <div class="footer-left__bottom">
            {{range $key,$val := .Params.footer}}
              {{ range .footer_pirvacy_link }}
                <a href="{{.footer_pirvacy_link_url}}" target="_self" class="footer__disclaimer">{{.footer_pirvacy_link_text}}</a>
              {{ end }}
              <p class="footer__abn">{{.footer_disclaimer_text}}</p>
            {{end}}
          </div>
        </div>
        <div class="footer-right">
          {{ partial "newsletter-form" . }}

          <div class="footer-left__bottom-mobile uk-hidden@s">
            {{range $key,$val := .Params.footer}}
            {{ range .footer_pirvacy_link }}
            <a href="{{.footer_pirvacy_link_url}}" target="_self" class="footer__disclaimer">{{.footer_pirvacy_link_text}}</a>
            {{ end }}
            <p class="footer__abn">{{.footer_disclaimer_text}}</p>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  {{range $key,$val := .Params.footer}}
    {{if .footer_ga}}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{.footer_ga}}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{.footer_ga}}');
      </script>
    {{end}}
  {{end}}
{{ end }}
