<nav class="uk-navbar-container uk-navbar-transparent uk-flex uk-flex-between" uk-navbar>
  <div class="uk-navbar-left">
    <a href="/" class="uk-position-relative logo-link">
      <img src="/img/logo-white.png" alt="CMHAA Logo" class="logo" />
      <img src="/img/logo.png" alt="CMHAA Logo" class="logo logo--color" />
    </a>
  </div>
  <div class="uk-navbar-right">
    <button class="main-nav-toggle" uk-toggle="target: body; cls: nav-active">
      <span class="hamburger-inner"></span>
    </button>
    <ul class="uk-navbar-nav" id="main-nav">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ $active := or (eq $.URL .URL) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
        <li class="{{ if $active }}active{{ end }}">
          <a href="{{ .URL | relURL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
    <div class="uk-navbar-nav uk-navbar-mobile uk-height-1-1">
      <div class="uk-flex-middle uk-height-1-1" uk-grid>
        <div class="uk-width-1-1">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ $active := or (eq $.URL .URL) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
            <a class="uk-button uk-button-minimal" href="{{ .URL | relURL }}" title="{{ .Title }}">
              {{ .Name }}
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</nav>
