<form action="" class="footer-right__form">
  <p class="uk-text-lead">Subscribe to receive updates from CMHAA</p>
  <form action="https://www.createsend.com/t/subscribeerror?description=" class="js-cm-form" data-id="2BE4EF332AA2E32596E38B640E9056195989E4D3636970599E9B214AB6232E69DA694AB6C9261AC3588E0DEE2C62BF5644585E75EB880BC850EECAD5FAE2C4C3" id="subForm" method="post" name="subForm">
    <fieldset class="uk-form-stacked">
      <div class="uk-margin">
        <label class="uk-form-label">Name</label>
        <div class="uk-form-controls">
          <input class="uk-input" aria-label="Name" id="fieldName" maxlength="200" name="cm-name" placeholder="Adam">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label">Email</label>
        <div class="uk-form-controls">
          <input aria-label="Email" autocomplete="Email" class="uk-input js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-yhllldu-yhllldu" required="" type="email" placeholder="e.g adam@emailaddress.com.au">
        </div>
      </div>
      <button class="uk-margin-top uk-align-center uk-align-right@l uk-button uk-button-primary" type="submit">SIGN UP</button>
    </fieldset>
  </form>
</form>
<script src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js" type="text/javascript"></script>


