<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "header" . }}

<body class="sans-serif {{ if .IsHome }}{{else}}{{if .Params.imageUrl}}{{else}}uk-navbar-white{{end}}{{end}}">


  {{ block "head" . }}
  <header class="header-main">
    <div class="uk-container">
      {{ partial "main-nav" . }}
    </div>
  </header>
  {{end}}
  {{ block "main" . }}{{ end }}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
</body>
</html>
