.C01-accordion {
  @include componentSpacingCompile($paddingTop: false);
  
  & .uk-accordion, & :before {
    list-style-type: none !important;
  }

  & .uk-open {
    & .uk-accordion-title {
      background-color: $grey-lighter;
    }
  }

  & .uk-accordion-title{
    padding: 10px;
  }

  & .uk-accordion-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}



