.C05-statistics {
  @include componentSpacingCompile($small:true);

  h1 {
    color: $brand-secondary-raspberry;
  }

  &__number {
    margin-right: -10px;
  }

  .uk-card {
    background: transparent;
    box-shadow: none;

    @media (max-width: $breakpoint-small) {
      padding: 0;
    }

    p {
      font-size: 20px;
      line-height: 140%;
      text-align: center;
    }
  }
}
