// NOTES: This has a javascript component "C09-Members
.C06-our-members {
  // component controllers
  @include componentSpacingCompile();

  // custom styling below (white-label applied)
  &__container {
    padding-top: 60px;

    @media (max-width: $breakpoint-small) {
      padding-top: 30px;
    }
  }

  &__member {
    &__lead {
      padding-bottom: 60px;
    }

    a {
      display: block;

      img {
        width: 100%;
      }
    }
  }

  &__button {
    &-shown,
    &-hidden {
      margin: 0 auto;
      display: block;
      cursor: pointer;

      &.hidden {
        display: none;
      }
    }
  }
}
