.C14-friends-cmhaa {
  @include componentSpacingCompile();
  @include svgLine();
  padding-top: 0;

  &__button {
    &-shown,
    &-hidden {
      margin: 0 auto;
      display: block;

      &.hidden {
        display: none;
      }
    }
  }
}
