.C17-youtube {
  @include componentSpacingCompile($small:false);
  padding-top: 0;

  &__iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 0 auto 20px;
    overflow: hidden;
    width: 100%;

    iframe {
      position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    }
  }
}
