.C21-off-canvas-info {
  @include componentSpacingCompile();
  padding-top: $global-padding-mobile;

  & .uk-offcanvas-bar{
    background-color: $grey-lightest;
  }

  & .uk-offcanvas-close{
    color: $brand-primary-darker;
  }

  & h2{
    color: $brand-primary;
  }
}
