.C22-countdown {
  @include componentSpacingCompile();
  padding-top: 0;

  & h1{
    color: $brand-primary;
    font-size: 5em;
  }

  & .uk-countdown-label{
    color: $brand-primary;
  }

  & .uk-countdown-separator{
    color: $brand-primary
  }

  @media (max-width: $breakpoint-small) {
    & h1{
      font-size: 3em;
    }
  }
}
