/* Category Map = classname: (background-color, text-color) */
$categorymap: (
  news-blogs: (#E54820, #fff),
  personal-stories: (#B60057, #fff),
  case-studies: (#F59C00, #000),
  fact-sheets: (#F0F0F0, #000),
  guides-toolkits: (#007E97, #fff),
  support-services: (#8ABD24, #000),
  research: (#D0D0D0, #000)
);

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  color: #000;
  margin: 16px;
  text-decoration: none;

  &__image-wrapper {
    position: relative;
    padding-top: 60%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  &__category {
    background-color: #B60057;
    border-radius: 20px;
    color: #fff;
    padding: 2px 10px;
    align-self: flex-start;

    @each $category, $colors in $categorymap {
      &.#{$category} {
        background-color: nth($colors, 1);
        color: nth($colors, 2);
      }
    }
  }

  &__date {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 24px 16px;

    p {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 0;
    margin-top: 16px;
    font-size: 28px;
    font-weight: 500;
  }

  &__focus {
    font-size: 12px;
    padding: 24px 16px;
    margin: 0;
    border-top: 1px solid #F0F0F0;
  }

  &:hover {
    text-decoration: none;
    color: #000;
  }

  &--horizontal {
    @media (min-width: $breakpoint-medium) {
      display: flex;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;

      > * {
        width: 50%;
        flex-shrink: 0;
      }

      .card {
        &__image-wrapper {
          padding: 0;

          img {
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;         
          }
        }

        &__content {
          padding-left: 24px;
          padding-right: 24px;
        }

        &__focus {
          padding-left: 0;
          padding-right: 0;
          margin-left: 24px;
          margin-right: 24px;
        }
      }
    }
  }
}

.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-left: -16px;
  margin-right: -16px;

  > * {
    width: 100%;

    @media (min-width: $breakpoint-small) {
      width: calc((100% / 2) - 32px);
    }

    @media (min-width: $breakpoint-large) {
      width: calc((100% / 3) - 32px);
    }

    &:nth-child(3n+1) {
      &:last-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
