.uk-button {
  border-radius: 50px;
  padding: 13px 32px;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $breakpoint-medium) {
    font-size: 16px;
  }

  @media (max-width: $breakpoint-small) {
    font-size: 15px;
  }

  &-primary {
    background-color: $brand-primary;
    color: $global-black;

    &:hover {
      background-color: $brand-primary-darker;
      color: $global-black;
    }
    &:focus {
      background-color: $brand-primary;
      color: $global-black;
    }

    svg {
      fill: $global-black;
    }
  }

  &-secondary {
    background-color: $brand-secondary;
    color: $global-white;

    svg {
      fill: $global-white;
    }
  }

  &-minimal {
    background-color: transparent;
    color: $global-black;
    border-width: 0;
    padding: 0;

    svg {
      fill: $global-black;
    }
  }

  // disabled state
  &-default:disabled,
  &-primary:disabled,
  &-secondary:disabled,
  &-danger:disabled {
    background-color: $grey-lighter;
    color: $brand-secondary;
    border-color: $grey-lighter;
  }

  // margins
  &-margin-small {
    margin: 30px 0px;

    @media (max-width: $breakpoint-small) {
      margin: 10px 0 0;
    }
  }
}

.uk-list-secondary-raspberry > ::before { color: $brand-secondary-raspberry !important; }

.uk-icon-adjust {
  .uk-icon {
    position: relative;
    top: -2px;
  }
}
