/*
 * UK Card White
 */

.uk-card-white {
  background: $global-white;
}

.uk-card-primary .uk-card-title {
  color: $card-primary-title-color;
}

.uk-card-primary.uk-card-hover:hover {
  background-color: $card-primary-hover-background;
}

.uk-card-box-shadow {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.uk-card-no-box-shadow {
  box-shadow: none;
}
