.uk-form {
  margin-top: 30px;
  border-radius: 5px;
  padding-top: 40px;

  label {
    color: $brand-secondary-darker;
    font-size: 16px;
    line-height: 140%;
  }

  .uk-input,
  .uk-textarea {
    border-radius: 4px;
    border: 1px solid $brand-secondary-darker;
    background-color: $global-white;
    color: $brand-secondary-darker;
    padding: 28px 16px;

    &::placeholder {
      color: #9E9E9E;
    }
  }

  /*
 * Error
 */

  .uk-form-danger,
  .uk-form-danger:focus {
    color: $form-danger-color;
    border: 1px solid $form-danger-color;
  }

  /*
   * Success
   */

  .uk-form-success,
  .uk-form-success:focus  {
    color: $form-success-color;
  }
}
