<div data-id="C16" class="uk-container C16-contact-form">
  <svg class="C16-contact-form__svg" width="100%" height="2" viewBox="0 0 1144 2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="1" y1="1" x2="42" y2="1" stroke="#F59C00" stroke-width="2" stroke-linecap="round"/>
    <line x1="56" y1="1" x2="1143" y2="1" stroke="#D0D0D0" stroke-width="2" stroke-linecap="round"/>
  </svg>
  <svg class="C16-contact-form__svg-mobile" width="100%" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="1" y1="1" x2="31" y2="1" stroke="#F59C00" stroke-width="2" stroke-linecap="round"/>
    <line x1="41" y1="1" x2="271" y2="1" stroke="#D0D0D0" stroke-width="2" stroke-linecap="round"/>
  </svg>
  <div class="uk-text-left" uk-grid>
    <div class="uk-width-1-1@s uk-width-1-4@l">
      <h3>{{ .Module.contact_title }}</h3>
    </div>
    <div class="uk-width-1-1@s uk-width-3-4@l">
      <div uk-grid>
        <div class="uk-width-1-1@s uk-width-3-5@m">
          {{if .Module.contact_lead }}
            <p class="uk-text-lead">{{ .Module.contact_lead }}</p>
          {{ end }}
          {{if .Module.contact_description }}
            {{- .Module.contact_description | markdownify -}}
          {{ end }}

          <div id="result"></div>
          <form id="contact" name="contact" class="uk-form" method="POST" data-netlify="true" novalidate>
          <input type="hidden" name="form-name" value="contact" />
          <p hidden class="uk-invisible">
            <label>Don’t fill this out if you're human: <input name="bot-field"></label>
          </p>
          <div class="uk-margin">
            <label class="uk-form-label">Name<span class="uk-text-danger">*</span></label>
            <div class="uk-form-controls">
              <input id="fullname" class="uk-input" type="text" name="fullname" required minlength="3" maxlength="60" pattern="^[a-zA-Z ]*$">
              <span class="uk-text-danger"></span>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label">Email Address<span class="uk-text-danger">*</span></label>
            <div class="uk-form-controls">
              <input id="email" class="uk-input" type="email" name="email" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
              <span class="uk-text-danger"></span>
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label">Message or comment<span class="uk-text-danger">*</span></label>
            <textarea id="message" class="uk-textarea uk-height-small" name="message" required maxlength="1000"></textarea>
            <span class="uk-text-danger"></span>
          </div>
          <p>
            <button type="submit" class="uk-button uk-button-secondary">SUBMIT</button>
          </p>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
