<div class="C18-rich-text {{if .Module.richtext_top}}uk-container C18-rich-text-top{{end}}">
    {{if .Module.richtext_top}}
    <svg class="C18-rich-text-top__svg" width="100%" height="2" viewBox="0 0 1144 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="1" x2="42" y2="1" stroke="#F59C00" stroke-width="2" stroke-linecap="round"/>
        <line x1="56" y1="1" x2="1143" y2="1" stroke="#D0D0D0" stroke-width="2" stroke-linecap="round"/>
    </svg>
    <svg class="C18-rich-text-top__svg-mobile" width="100%" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="1" x2="31" y2="1" stroke="#F59C00" stroke-width="2" stroke-linecap="round"/>
        <line x1="41" y1="1" x2="271" y2="1" stroke="#D0D0D0" stroke-width="2" stroke-linecap="round"/>
    </svg>
    {{end}}
    <div class="uk-container uk-container-xsmall">
        <div class="uk-text-left" uk-grid>
            <div class="uk-width-1-1@s uk-align-center">
                {{if .Module.richtext}}
                    {{ .Module.richtext | markdownify }}
                {{end}}
            </div>
        </div>
    </div>
</div>
