{{if .Module.disable_leftright}}
    <div class="uk-container uk-container-xsmall C12-split-title-content-background">
        <div uk-grid>
            <div class="uk-width-1-1@s uk-align-center">
                <h3>{{ .Module.title }}</h3>
                {{if .Module.leadtext }}
                    <p class="uk-text-lead uk-margin-small-bottom">{{ .Module.leadtext }}</p>
                {{ end }}
                {{if .Module.content }}
                    {{ .Module.content | markdownify }}
                {{ end }}
                {{if .Module.cta_link }}
                    <a href="{{ .Module.cta_link }}" class="uk-button uk-button-primary">{{ .Module.cta_text }} <span uk-icon="chevron-right"></span></a>
                {{ end}}
            </div>
        </div>
    </div>
{{ else }}
<div class="uk-container C12-split-title-content-background">
    <div class="uk-text-left" uk-grid>
        <div class="uk-width-1-1@s uk-width-1-4@l">
            <h3>{{ .Module.title }}</h3>
        </div>
        <div class="uk-width-1-1@s uk-width-3-4@l">
            {{if .Module.leadtext }}
            <p class="uk-text-lead uk-margin-small-bottom">{{ .Module.leadtext }}</p>
            {{ end }}
            {{if .Module.content }}
            {{ .Module.content | markdownify }}
            {{ end }}
            {{if .Module.cta_link }}
            <a href="{{ .Module.cta_link }}" class="uk-button uk-button-primary">{{ .Module.cta_text }} <span uk-icon="chevron-right"></span></a>
            {{ end}}
        </div>
    </div>
</div>
{{ end }}
