$brand-primary: #F59C00;
$brand-primary-darker: #EF8F00;
$brand-secondary: #6A6D71;
$brand-secondary-darker: #595B5F;
$brand-secondary-raspberry: #B60057;
$brand-secondary-red: #E54820;
$brand-secondary-teal: #007E97;
$brand-secondary-green: #8ABD24;

$grey-light: #999;
$grey-lighter: #D0D0D0;
$grey-lightest: #F0F0F0;

$transition-fast: 200ms ease-out;


$global-color:                                   #666 !default;
$global-emphasis-color:                          #333 !default;
$global-muted-color:                             #999 !default;

$global-link-color:                              $brand-primary;
$global-link-hover-color:                        darken($brand-primary, 0.2);

$global-inverse-color:                           #fff !default;

$global-background:                              #fff !default;

$global-muted-background:                        $grey-lightest !default;
$global-primary-background:                      $brand-primary;
$global-secondary-background:                    #222 !default;

$global-success-background:                      #32d296 !default;
$global-warning-background:                      #faa05a !default;
$global-danger-background:                       #f0506e !default;

$container-max-width: 1144px;
$global-link-color: $brand-primary;

//font-size
$global-font-size: 20px;

// spacing
$global-padding: 80px;
$global-padding-mobile: 40px;
$global-padding-medium: 60px;
$global-padding-medium-mobile: 30px;
$global-padding-minimal: 20px;
$global-padding-minimal-mobile: 10px;
$global-medium-gutter: 20px !default;
$base-hr-border-width: 2px;

// colours
$global-black: #000;
$global-white: #FFF;
$global-primary-background: $brand-primary;
$global-secondary-background: $brand-secondary;
$base-hr-border: $grey-lighter;

// cards
$card-default-background: $grey-lightest;

// modal
$modal-dialog-width: 100%;
$modal-padding-horizontal: 12px !default;
$modal-padding-horizontal-m: 72px !default;
$modal-background: rgba(0,0,0,0.2) !default;
